.background{
    width: 100%;
    height: 100%;

    background-image: url("/body.jpg");
    background-size: 30%;

    .content{
        .add{
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                width: 60%;
                height: 60%;
            }
            
            div{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                // padding: 1rem 0;

                button:nth-child(1){
                    width: 20px;
                    height: 100%;
                    border-right: 1px solid #000;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    // background-color: #18BCF0;
                }

                button:nth-child(3){
                    width: 20px;
                    height: 100%;

                    border-left: 1px solid #000;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    // background-color: #F01818;
                }
            }
        }

        p{
            width: 100%;
            font-size: 14px;
            text-align: center;
        }
    }
}