.label{
    h2{
        font-size: 1.1rem;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        margin-top: 1rem;
    }
}

.wrap{
    display: flex;
    justify-content: space-between;
}