.cardProducts{
    width: 80%;

    @media screen and (max-width: 770px){
        width: 60%;
    }

    @media screen and (max-width: 500px){
        width: 100%;
    }

    h1{
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

    img{
        width: 70%;
        height: 70%;
        object-fit: contain;
    }

    p{
        width: 100%;
        font-size: 1.2;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }

    h3{
        font-size: 1.9rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin-top: 1rem;
    }
}
.cardContent{
    width: 15rem;
}
.edit{
    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--color-button-edit);
}
.delete{
    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--color-button-delete);
}