.totalBackground{
  width: 100%;
  height: 100%;

  background-image: url("/body.jpg");
  background-size: 30%;
}

.totalWallpaper{
  width: 100%;
  height: 100%;

  background: var(--color-background-totalWallpaper);
}


.dream_veg{
  width: 100%;
  height: 15rem;
  background-image: url("/body.jpg");
  background-size: 30%;
  margin-bottom: 2rem;

  .background_second{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    padding: 1rem 2rem;

    background-color: var(--color-background-products-main);

    div:first-child{
      img{
        width: 80%;
        height: 80%;

        object-fit: cover;
      }
    }

    div:last-child{
      width: 15rem;

      @media screen and (max-width: 500px){
        width: 17rem;
      }

      h2{
        font-size: 2rem;
        font-weight: 100;
        font-family: Roboto;
        text-align: center;
      }

      p{
        text-align: center;
        font-weight: 100;
        font-family: Roboto;
      }
    }
  }
}

.three_product{
  width: 100%;
  height: auto;

  background-color: var(--color-background-gray);

}

.containerContact{
  width: 100%;
  height: 100%;
}

.line{
  width: 100%;
  height: 1px;

  background-color: var(--color-line);
}

.footerMedia{
  width: 100%;
  height: 100%;

  padding: 2rem 7rem;
  
  @media screen and (max-width: 700px){
    padding: 2rem 4rem;
  }

  .contentFooter{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;

    label:first-child{
      h2{
        text-align: center;
        font-size: 1.5rem;
        font-family: Roboto;
        font-weight: 100%;
      }

      p{
        text-align: center;
        font-family: Roboto;
        font-weight: 100%;
      }
    }

    label:last-child{
      font-size: 1.2rem;
      text-align: center;
      font-family: Roboto;
      font-weight: 100%;
    }
  }
}

.mediaSocial{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .contentMediaSocial{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    padding: 2rem 0;

    div{
      display: flex;
    }

    p{
      margin-top: 1rem;
      text-align: center;
    }
  }
}