.container {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 999;
  padding: 0 4rem 0 4rem;
  background-color: var(--color-header);
  border-radius: 0 0 100px 0;

  @media screen and (max-width: 800px){
    padding: 0;
  }

}

.background{
  width: 100%;
  height: 100%;

  background-image: url("/header.jpg");
  border-radius: 0 0 100px 0;

  .main{
    width: 100%;
    height: 100%;
    padding: 0 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left{
      width: 40px;
      height: 40px;
      border-radius: 100px;

      background-color: rgba(100,100,300);
    }

    .mid{
      ul{
        width: 100%;
        height: 100%;

        a{
          margin: 0 2rem;
          color: #fff;
          font-weight: bold;
          cursor: pointer;

          &:hover{
            color: var(--color-hover-header);
          }
        }

        @media screen and (max-width: 1000px){
          display: none;
        }
      }
    }

    .footer{
      display: flex;
      align-items: center;

      cursor: pointer;

      p{
        padding: 0 0.6rem; 
        color: #fff; 
        font-weight: bold
      }

      @media screen and (max-width: 1000px){
        display: none;
      }
    }

    .menuIcon{

      @media screen and (min-width: 1000px){
        display: none;
      }
    }
  }
}

.content{
  width: 100%;
  height: 35rem;
  background-image: url("/body.jpg");
  background-size: contain;

  @media screen and (max-width: 800px){
    height: 40rem;
  }

  .contentBackground{
    width: 100%;
    height: 35rem;
    padding: 7rem 1rem;

    background-color: rgba(254, 223, 163, .90);

    @media screen and (min-width: 800px){
      padding: 7rem;
    }

    @media screen and (max-width: 800px){
      height: 40rem;
    }
  }
}

.cart{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  z-index: 2;
  position: fixed;
  top: 7rem;
  right: 5rem;
  border-radius: 100px;

  background: rgba(255,255,255,.8);

  &:hover{
    transform: scale(1.02);
  }

  @media screen and (max-width: 500px){
    right: 3rem;

    background-color: rgb(255, 201, 240);
  }

}

.cartValue{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  position: fixed;
  top: 6.3rem;
  right: 4.5rem;
  border-radius: 100px;

  background: rgba(255,255,255,.8);

  p{
    font-size: 0.7rem;
    font-weight: bold;
  }

  @media screen and (max-width: 500px){
    right: 2.5rem;
    top: 6rem;
    background-color: rgb(255, 201, 240);

    p{
      color: white;
    }
  }
}

.dream_veg{
  width: 100%;
  height: 15rem;
  background-image: url("/body.jpg");
  background-size: 30%;
  margin-bottom: 2rem;

  .background_second{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    padding: 1rem 2rem;

    background-color: rgba(247, 236, 198, 0.96);

    div:first-child{
      img{
        width: 80%;
        height: 80%;

        object-fit: cover;
      }
    }

    div:last-child{
      width: 15rem;

      @media screen and (max-width: 500px){
        width: 17rem;
      }

      h2{
        font-size: 2rem;
        font-weight: 100;
        font-family: Roboto;
        text-align: center;
      }

      p{
        text-align: center;
        font-weight: 100;
        font-family: Roboto;
      }
    }
  }
}